<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
	<add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Miriam\Documents\Aplicatii C#\AplicatieFreeBook\FreeBook.mdf;Integrated Security=True"/>
</connectionStrings>
<appSettings>
	<add key="CartiFile" value ="C:\Users\Miriam\Documents\Aplicatii C#\AplicatieFreeBook\Resurse\carti.txt"/>
	<add key ="ImprumuturiFile" value="C:\Users\Miriam\Documents\Aplicatii C#\AplicatieFreeBook\Resurse\imprumuturi.txt"/>
	<add key="UtilizatoriFile" value="C:\Users\Miriam\Documents\Aplicatii C#\AplicatieFreeBook\Resurse\utilizatori.txt"/>
	<add key ="CartiPdfFolder" value="C:Users//Miriam//Documents//Aplicatii C#//AplicatieFreeBook//Resurse//cartipdf//"/>
</appSettings>
</configuration>